@model SmaxV2.Models.User

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>User</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.US_Id)

        <div class="form-group">
            @Html.LabelFor(model => model.US_User, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.US_User, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.US_User)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.US_Login, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.US_Login, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.US_Login)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.US_Password, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.US_Password, new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.US_Password)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FK_UG_GroupId, "Group Name", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("FK_UG_GroupId", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FK_UG_GroupId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.US_Created, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.US_Created)
                @Html.ValidationMessageFor(model => model.US_Created)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.US_Modified, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.US_Modified)
                @Html.ValidationMessageFor(model => model.US_Modified)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn-info input-sm" />
                @*<button type="button" id="btn_submit" class="btn-info input-sm // btn btn-default">Save</button>&nbsp;*@
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
