@model SmaxV2Attendance.Models.Smx_Category

@{
    ViewBag.Title = "Delete";
}

<h2>Category</h2>
<h4>Delete</h4>

<h3>Are you sure you want to delete this?</h3>
<div>
    <dl class="dl-horizontal well">
        <dt>
            @Html.DisplayNameFor(model => model.CT_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CT_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CT_SHORTNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CT_SHORTNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CT_CREATED)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CT_CREATED)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CT_MODIFIED)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CT_MODIFIED)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CT_MODIFIEDBY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CT_MODIFIEDBY)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @*<input type="submit" value="Delete" class="btn btn-danger" />*@ 
            <button class="btn btn-danger" id="btndelete">
                Delete &nbsp;
                <span class="glyphicon glyphicon-trash"></span>
            </button>
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
