@model SmaxV2Attendance.Models.Smx_Designation

@{
    ViewBag.Title = "Create";
}

<h2>Designation</h2>
<h4>Create</h4>

@RenderPage("../Shared/_Common.cshtml")

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal well">
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.DN_NAME, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DN_NAME)
                @Html.ValidationMessageFor(model => model.DN_NAME)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DN_SHORTNAME, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DN_SHORTNAME)
                @Html.ValidationMessageFor(model => model.DN_SHORTNAME)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DN_CREATED, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DN_CREATED)
                @Html.ValidationMessageFor(model => model.DN_CREATED)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DN_MODIFIED, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DN_MODIFIED)
                @Html.ValidationMessageFor(model => model.DN_MODIFIED)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DN_MODIFIEDBY, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DN_MODIFIEDBY)
                @Html.ValidationMessageFor(model => model.DN_MODIFIEDBY)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @*<input type="submit" value="Create" class="btn btn-success" />*@
                <button class="btn btn-success" id="btnsave">
                    Submit &nbsp;
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                </button>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
