@model SmaxV2Attendance.Models.Smx_Department

@{
    ViewBag.Title = "Edit";
}

<h2>Department</h2>
<h4>Edit</h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal well">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.DP_ID)

        <div class="form-group">
            @Html.LabelFor(model => model.DP_NAME, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DP_NAME)
                @Html.ValidationMessageFor(model => model.DP_NAME)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DP_SHORTNAME, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DP_SHORTNAME)
                @Html.ValidationMessageFor(model => model.DP_SHORTNAME)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DP_CREATED, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DP_CREATED)
                @Html.ValidationMessageFor(model => model.DP_CREATED)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DP_MODIFIED, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DP_MODIFIED)
                @Html.ValidationMessageFor(model => model.DP_MODIFIED)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DP_MODIFIEDBY, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DP_MODIFIEDBY)
                @Html.ValidationMessageFor(model => model.DP_MODIFIEDBY)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @*<input type="submit" value="Save" class="btn btn-info" />*@
                <button class="btn btn-success" id="btnsave">
                    Submit &nbsp;
                    <span class="glyphicon glyphicon-floppy-disk"></span>
                </button>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
