
@model SmaxV2Attendance.Models.Smx_Holiday

@{
    ViewBag.Title = "Delete";
}

<h2>Holiday</h2>
<h4>Delete</h4>


<h3>Are you sure you want to delete this?</h3>
<div>
    <dl class="dl-horizontal well">
        <dt>
            @Html.DisplayNameFor(model => model.HD_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HD_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HD_DESC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HD_DESC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HD_ISREADERDOWNLOAD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HD_ISREADERDOWNLOAD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HD_UPDATE_STATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HD_UPDATE_STATUS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HD_CREATED)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HD_CREATED)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HD_MODIFIED)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HD_MODIFIED)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HD_MODIFIEDBY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HD_MODIFIEDBY)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @*<input type="submit" value="Delete" class="btn btn-danger" /> |*@            
            <button class="btn btn-danger" id="btndelete">
                Delete &nbsp;
                <span class="glyphicon glyphicon-trash"></span>
            </button>
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
