@model SmaxV2Attendance.Models.Smx_Holiday

@{
    ViewBag.Title = "Details";
}

<h2>Holiday</h2>
<h4>Details</h4>

<div>
    <dl class="dl-horizontal well">
        <dt>
            @Html.DisplayNameFor(model => model.HD_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HD_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HD_DESC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HD_DESC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HD_ISREADERDOWNLOAD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HD_ISREADERDOWNLOAD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HD_UPDATE_STATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HD_UPDATE_STATUS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HD_CREATED)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HD_CREATED)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HD_MODIFIED)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HD_MODIFIED)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HD_MODIFIEDBY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HD_MODIFIEDBY)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HD_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
