@model SmaxV2Attendance.Models.Smx_Devices

@{
    ViewBag.Title = "Delete";
}

<h2>Devices</h2>
<h4>Delete</h4>
@RenderPage("../Shared/_Common.cshtml")
<h3>Are you sure you want to delete this?</h3>
<div>
    
    <dl class="dl-horizontal well">
        <dt>
            @Html.DisplayNameFor(model => model.DE_IPADDRESS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DE_IPADDRESS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DE_NODEID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DE_NODEID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DE_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DE_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DE_MESSAGE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DE_MESSAGE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DE_READERTYPE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DE_READERTYPE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DE_RELAYTIME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DE_RELAYTIME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DE_DOTL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DE_DOTL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DE_IP1_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DE_IP1_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DE_IP2_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DE_IP2_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DE_IP1_NONC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DE_IP1_NONC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DE_IP2_NONC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DE_IP2_NONC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DE_MEMORY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DE_MEMORY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DE_OPERATIONAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DE_OPERATIONAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DE_MODEL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DE_MODEL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DE_READERMODE)
        </dt>

        @*<dd>
            @Html.DisplayFor(model => model.DE_READERMODE)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.DE_FIRMWARE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DE_FIRMWARE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DE_CREATED)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DE_CREATED)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DE_MODIFIED)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DE_MODIFIED)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DE_MODIFIEDBY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DE_MODIFIEDBY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Smx_Location.LN_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Smx_Location.LN_NAME)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> 
            <button class="btn btn-danger" id="btndelete">
                Delete &nbsp;
                <span class="glyphicon glyphicon-trash"></span>
            </button>
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
