@model IEnumerable<SmaxV2Attendance.Models.Smx_AccessLevel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AL_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AL_CREATED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AL_MODIFIED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AL_MODIFIEDBY)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AL_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AL_CREATED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AL_MODIFIED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AL_MODIFIEDBY)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AL_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AL_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AL_ID })
        </td>
    </tr>
}

</table>
