@{
    ViewBag.Title = "Create";
}

@Scripts.Render("~/bundles/accessleveldetails")


<h2>Access Reader Details</h2>

<form id="frm_timezone" class="form-horizontal" role="form">
    <div class="col-md-12 well">
        <div class="col-md-3">
            <div class="form-group">
                <div class="col-sm-10">
                    @Html.DropDownList("AccessLevel", (IEnumerable<SelectListItem>)ViewBag.ALD_AL_ID, new { @class = "form-control", @size = "20" })
                </div>
            </div>
        </div>
        
        <div class="col-md-9">
            <div class="form-group">
                <div class="col-md-8 well" style="overflow:auto;height:300px">
                    <h4>Select the Readers</h4>
                    <table class="table table-bordered" width="250">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Reader Name</th>
                                <th>IP Address</th>
                                <th>Location</th>
                                <th>Location Id</th>
                            </tr>
                        </thead>
                        <tbody id="tblreaderdetails">
                            @{
                                foreach (SelectListItem x in (IEnumerable<SelectListItem>)ViewBag.ALD_DE_IPADDRESS)
                                {
                                    <tr>
                                        @*<td>@Html.CheckBox("Chk_" + x.Value)</td>*@
                                        <td><input type="checkbox" id="Chk_@x.Value.Replace(".","_")" /></td>
                                        <td>@x.Text.Split('|')[1]</td>
                                        <td>@x.Text.Split('|')[0]</td>
                                        <td>@x.Text.Split('|')[2]</td>
                                        <td>@x.Text.Split('|')[3]</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-md-1">
                    <br />
                    <input type="button" id="btnadd" value="Add to List" class="btn btn-info" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-9">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Reader Name</th>
                                <th>TimeZone Id</th>
                                <th>TimeZone</th>
                                <th>IP Address</th>
                                <th>Location</th>
                                <th>Location Id</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="tblaldetails"></tbody>
                    </table>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2">

                </div>
                <div class="col-sm-2">
                    <button class="btn btn-success" id="btnsave">
                        Submit &nbsp;
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                    </button>
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-info" id="btnreset">
                        Clear &nbsp;
                        <span class="glyphicon glyphicon-refresh"></span>
                    </button>
                </div>
                <div class="col-sm-2">

                    <div class="input-group">
                        @*<input type="button" class="btn btn-danger" id="btndelete" value="Delete" />
                        <span class="input-group-addon glyphicon glyphicon-trash"></span>*@
                        <button class="btn btn-danger" id="btndelete">
                            Delete &nbsp;
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
       
    </div> 
</form>