@model IEnumerable<SmaxV2Attendance.Models.Smx_AccessLevelDetails>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ALD_NODEID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ALD_READER_IPADDRESS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ALD_CREATED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ALD_MODIFIED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ALD_MODIFIEDBY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Smx_AccessLevel.AL_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Smx_TimeZone.TZ_NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ALD_NODEID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ALD_READER_IPADDRESS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ALD_CREATED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ALD_MODIFIED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ALD_MODIFIEDBY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Smx_AccessLevel.AL_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Smx_TimeZone.TZ_NAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ALD_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ALD_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ALD_ID })
        </td>
    </tr>
}

</table>
