@model IEnumerable<SmaxV2Attendance.Models.Smx_TimeZone>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TZ_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TZ_UPDATE_STATUS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TZ_CREATED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TZ_MODIFIED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TZ_MODIFIEDBY)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TZ_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TZ_UPDATE_STATUS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TZ_CREATED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TZ_MODIFIED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TZ_MODIFIEDBY)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TZ_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TZ_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TZ_ID })
        </td>
    </tr>
}

</table>
