@model IEnumerable<SmaxV2Attendance.Models.Smx_Unit>

@{
    ViewBag.Title = "Index";
}

<h2>Unit</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UT_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UT_DESCRIPTION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UT_CREATED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UT_MODIFIED)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UT_MODIFIEDBY)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UT_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UT_DESCRIPTION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UT_CREATED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UT_MODIFIED)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UT_MODIFIEDBY)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UT_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UT_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UT_ID })
        </td>
    </tr>
}

</table>
